<app-header></app-header>
<div class="container">
    <div class="row m-t-100">
        <div class="col-md-12">
            <h1>About us</h1>
            <p>We're a community of contributors from all around the globe. If you believe in our open source mission,
                we hope you will join us!</p>
        </div>
    </div>
    <div class="row lightgray">
        <div class="col-md-12 text-center">
            <h2 class="m-20">Our Mission</h2>
            <p>The Piwigo mission is to build the best open source photo manager for the web with a strong focus on user
                experience over technology.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="col-md-3">
                    <p class="border">{{yearsOld}}</p>
                    <p>Years Old</p>
                </div>
                <div class="col-md-3">
                    <p class="border">{{Releases}}</p>
                    <p>Releases</p>
                </div>
                <div class="col-md-3">
                    <p class="border">{{Downloads}}</p>
                    <p>Downloads</p>
                </div>
                <div class="col-md-3">
                    <p class="border">{{ForumMessages}}</p>
                    <p>Forum Messages</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <p class="border">{{Extensions}}</p>
            <p>Extensions</p>
        </div>
    </div>
    <div class="row m-t-50 lightgray">
        <div class="col-md-12 text-center">
            <h1 class="m-20">Business Model</h1>
            <p>
                Although animated by a largely volunteer community of contributors, a project like Piwigo is not free to
                run: web servers, domain names, development time or website management. How is the project viable at
                money level?
            </p>
        </div>
        <div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Donations</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/piwigo-11.3.0-announcement.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Piwigo Association collects donations from its community of users. This money is used to pay
                        direct fees such as web servers hosting, domain names or mobile application store subscriptions.
                        Your financial contribution would mark your commitment to the project.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Piwigo.com</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/piwigo-11.5.0-announcement.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Profits generated make it possible to spend some time on Piwigo. For example Pierrick, creator
                        of Piwigo and now paid thanks to Piwigo.com, can work on Piwigo.org. The two projects thus
                        maintain a virtuous circle: the success of one leads to the success of the other, and vice
                        versa.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Services</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/images/piwigo-11.3.0-announcement.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Some coders and theme creators are paid by customers to create new features. Most of the time,
                        these creations are also available to the Piwigo community as a whole.circle: the success of one
                        leads to the success of the other, and vice can work on Piwigo.org. The two projects thus
                        versa.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row m-t-50 m-b-50 lightgray">
        <div class="col-md-12 text-center">
            <h1 class="m-20">Want to be part of the adventure?</h1>
            <p>The Piwigo project needs various skills, such as coders, designers, documentation writers, helpers. If
                you believe in our mission, be part of it :-)</p>
        </div>
    </div>
</div>
<app-footer></app-footer>