<app-userheader></app-userheader>
<div class="container">
    <div class="row m-t-100">
        <div class="col-md-12">
            <div class="col-md-4 videoTitle">
                <h1>Piwigo demos</h1>
                <p>Discover our piwigo demo galleries. Have a look through them and see how personalisable our galleries
                    our and find out what our technology is capable of.</p>
            </div>
            <div class="col-md-8">
                <video width="400" controls>
                    <source src="../../../assets/videos/AddPhotos.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
    <div class="row m-20">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="../../../assets/userHome/1.jpg">
            </div>
            <div class="col-md-6">
                <p class="demo">Demo n°1</p>
                <p>This Piwigo demo gallery is based on our default theme and skin: Modus Newspaper. For this demo we
                    have added a banner containing an image we designed including our logo. Our introduction text and
                    buttons are added using the plugin PWG stuffs and additional css code.</p>
            </div>
        </div>
    </div>
    <div class="row m-20">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="../../../assets/userHome/2.jpg">
            </div>
            <div class="col-md-6">
                <p class="demo">Demo n°2</p>
                <p>Our second Piwigo demo gallery uses the default skin from the bootstrap darkroom theme. With this
                    demo we have activated the plugins extended description and additonal pages. These plugins allow us
                    to have a carousel on this galleries homepage.</p>
            </div>
        </div>
    </div>
    <div class="row m-20">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="../../../assets/userHome/3.png">
            </div>
            <div class="col-md-6">
                <p class="demo">Demo n°3</p>
                <p>For the third Piwigo demo gallery, our base theme is Modus with the splash skin. We have customised
                    this skin to use specific colors, and we have adapted our logo to match. Using the banner options
                    our logo is added to the top left and on the right we have our gallery name with a introductory
                    text. This galelry has the PWG stuffs plugin actiavted to display a tag block before our albums.</p>
            </div>
        </div>
    </div>
    <div class="row m-20">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="../../../assets/userHome/4.jpg">
            </div>
            <div class="col-md-6">
                <p class="demo">Demo n°4</p>
                <p>The fourth demo gallery uses Bootstrap darkroom with a hero image. We have personnalised the cyborg
                    skin of this theme, to match the picture we have chosen as a Hero image. Another thing we have made
                    unique is buy using a different font for the title of this gallery, and added our logo in the top
                    left corner. Finally we have also customised the banner to contain a login form for our gallery</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 videoTitle text-center">
            <h1 class="m-20">Get started with Piwigo</h1>
            <p>Ready to start managing your photos with Piwigo? Join our community!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>