img{
    width: 100%;
}
.homeTitle {
    H1{
        font-size: 60px;
        line-height: normal;
        font-weight: bold;
    }
    p {
        font-size: 20px !important;
    }
}
.section1 .homeTitle {
    H1{
        font-size: 40px;
        line-height: normal;
        font-size: bold;
    }
}
.mainHeader{
    margin-top: 100px;
}