<app-header></app-header>
<div class="container">
  <div class="row mainHeader">
    <div class="col-md-12">
      <div class="col-md-6 homeTitle">
        <H1>Manage your photo collection with Piwigo</H1>
        <p>Piwigo is open source photo gallery software for the web. Designed for organisations, teams and individuals.
        </p>
      </div>
      <div class="col-md-6 image">
        <img src="../../assets/images/screenHome.jpg">
      </div>
    </div>
  </div>
  <div class="row section1 m-t-50 text-center">
    <div class="col-md-12 text-center homeTitle">
      <H1>Why choose Piwigo?</H1>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/high-volume.svg" alt="">
      <H1>High Volume</H1>
      <p>Piwigo shines when it comes to classifying thousands or even hundreds of thousands of photos.</p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/sustainable.svg">
      <h1>Sustainable</h1>
      <p>Born in 2002, Piwigo has been supporting its users for more than 19 years. Always evolving!</p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/open-source.svg">
      <h1>Open Source</h1>
      <p>Source code is available, editable, auditable and extendable thanks to plugins and themes.</p>
    </div>
  </div>
  <div class="section1 m-t-50 m-b-50 text-center">
    <div class="col-md-12 homeTitle">
      <H1>Powerful features for your photo gallery</H1>
    </div>
    <div class="col-md-3 p-b-50">
      <img src="../../assets/features/content-01.svg">
      <h1>Albums Hierarchy</h1>
    </div>
    <div class="col-md-3 p-b-50">
      <img src="../../assets/features/content-02.svg">
      <h1>Batch Management</h1>
    </div>
    <div class="col-md-3 p-b-50">
      <img src="../../assets/features/content-03.svg">
      <h1>Themes & Plugins</h1>
    </div>
    <div class="col-md-3 p-b-50">
      <img src="../../assets/features/content-04.svg">
      <h1>Permissions Control</h1>
    </div>
  </div>
</div>
<app-footer></app-footer>