$black: black;
$header-footer: #FF7700;
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $header-footer;
  color: $black;
  text-align: center;
  padding-top: 10px;
  vertical-align: middle;
}
